@if (isLoading()) {
  <app-loading></app-loading>
} @else if (error()) {
  <app-error></app-error>
} @else if (apartment()) {
  <p-card class="px-lg py-sm mt-2xl">
    <div class="flex gap-xl">
      <div class="flex flex-col gap-xl w-1/2 pr-xl border-r dark:border-slate-600 border-slate-300">
        <h1 class="text-2xl font-semibold text-slate-400">{{ apartment()?.title }}</h1>
        <div class="flex justify-between items-center">
          <div class="flex flex-col gap-sm">
            <p>
              <em class="pi pi-map-marker"></em>
              {{ apartment()?.location }}
            </p>
            <p>
              <em class="pi pi-map"></em>
              {{ apartment()?.areaInSqFeet }}
            </p>
            <p>
              <em class="pi pi-map-marker"></em>
              {{ apartment()?.isFurnished ? 'Furnished' : 'Semi-Furnished' }}
            </p>
            <p>
              <em
                class="pi"
                [class]="apartment()?.type === 'building' ? 'pi-warehouse' : 'pi-building'"
              ></em>
              {{ apartment()?.type }}
            </p>
          </div>
          <h2 class="text-2xl font-bold text-slate-400">
            {{ apartment()?.rent | currency: 'INR' }}
          </h2>
        </div>
        <img
          [src]="apartment()?.image"
          [alt]="apartment()?.name"
          class="object-cover rounded-2xl"
        />
        <div class="flex flex-wrap gap-lg border-brand rounded-lg p-4">
          @for (amenity of apartment()?.amenities; track amenity) {
            <div class="flex items-center gap-4 w-1/3 text-lg !text-slate-300">
              <em class="pi pi-box !text-xl"></em>{{ amenity }}<span></span>
            </div>
          }
        </div>
      </div>
      <div class="w-1/2">
        <h3 class="font-bold text-xl">Comments</h3>
        <app-comment-box
          [comments]="apartment()?.comments ?? []"
          [apartmentId]="apartment()?.id"
          (onAddComment)="onAddingComment()"
          class="w-1/2"
        ></app-comment-box>
      </div>
    </div>
  </p-card>
}
